<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TSSegmentScrollView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DDECE6F31CE4731000AD77E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDECE70C1CE4731000AD77E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDECE7171CE4731000AD77E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
